# Ex2 - Getting and Knowing your Data

Check out [Chipotle Exercises Video Tutorial](https://www.youtube.com/watch?v=lpuYZ5EUyS8&list=PLgJhDSE2ZLxaY_DigHeiIDC1cD09rXgJv&index=2) to watch a data scientist go through the exercises

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

pandas is imported as pd, which is the standard convention.\
numpy is imported as np since it will be used later for numerical computations. \

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

Reads the dataset from a URL.\
The dataset is in TSV format (tab-separated values), so we use sep='\t' to correctly parse it. \
The result is stored in a Pandas DataFrame named chipo.

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep = '\t')

### Step 4. See the first 20 entries.

Note: this is useful to quickly check the structure of the data.

In [3]:
chipo.head(20)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,NaN,$4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49
18,9,2,Canned Soda,[Sprite],$2.18
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75

### Step 5. What is the number of observations in the dataset?

In [4]:
chipo.shape[0]   # this is to check the number of rows (observations)


'''
chipo.shape returns a tuple (number of rows, number of columns).
chipo.shape[0] extracts the number of rows (observations).
'''

'\nchipo.shape returns a tuple (number of rows, number of columns).\nchipo.shape[0] extracts the number of rows (observations).\n'

In [5]:
chipo.info() #Provides an overview of the DataFrame, including: Number of non-null values in each column / Data types of columns (e.g., int, float, object).

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [6]:
chipo.shape[1] # Number of columns (features)

5

### Step 7. Print the name of all the columns.

In [7]:
chipo.columns #Lists all column names in the dataset.

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [8]:
chipo.index #Returns the row index labels of the DataFrame (default is a numeric index)

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

### Non-clean

In [9]:
# two most ordered items

item_name_max = None
max_val = 0
for item_name in chipo['item_name'].unique():   #Retrieves all unique item names.
    sm = chipo[chipo['item_name'] == item_name]['quantity'].sum() #Selects only the rows where item_name matches, and sums up the total quality ordered.
    #Keeps track of the maximum ordered item and prints it.
    if max_val < sm:
        max_val = sm
        item_name_max = item_name

print(item_name_max, max_val)

Chicken Bowl 761

### Cleaner

In [10]:
order_counts = chipo.groupby('item_name')['quantity'].sum().reset_index() #groups the data by item & aggregates the total quality order for each item

# rename the columns
order_counts.columns = ['item_name', 'total_quantity']

# Find the most-ordered item
most_ordered_item = order_counts.loc[order_counts['total_quantity'].idxmax()] #Finds the index of the item with the highest quantity; loc Retrieves the row corresponding to the most ordered item.
most_ordered_item

item_name         Chicken Bowl
total_quantity             761
Name: 17, dtype: object

### Step 10. For the most-ordered item, how many items were ordered?

In [11]:
most_ordered_item['total_quantity']

761

### Step 11. What was the most ordered item in the choice_description column?

In [12]:
order_counts = chipo.groupby('choice_description')['quantity'].sum().reset_index()
order_counts.columns = ['choice_description', 'total_quantity']
most_ordered_item = order_counts.loc[order_counts['total_quantity'].idxmax()]
most_ordered_item

choice_description    [Diet Coke]
total_quantity                159
Name: 15, dtype: object

### Step 12. How many items were orderd in total?

In [13]:
total_items_orders = chipo.quantity.sum()
total_items_orders

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [14]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [15]:
dollarizer = lambda x: float(x[1:-1]) #Removes the dollar sign ($) and converts it to float.
chipo.item_price = chipo.item_price.apply(dollarizer) #Applies the function to every row in the item_price column.

#### Step 13.c. Check the item price type

In [16]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [17]:
revenue = (chipo['quantity']* chipo['item_price']).sum() #calculates total revenue of each order

print('Revenue was: $' + str(np.round(revenue,2))) #Rounds revenue to 2 decimal places.

Revenue was: $39237.02

### Step 15. How many orders were made in the period?

In [18]:
orders = chipo.order_id.value_counts().count() #Counts how many times each order_id appears.
orders

1834

### Step 16. What is the average revenue amount per each order item_name?

In [19]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price'] #Adds a new column revenue to chipo.

df = pd.DataFrame(columns=['item_name', 'average_revenue']) #Creates an empty DataFrame df to store results.

data = []
for order in chipo['item_name'].unique(): #Iterates over unique item names.
    order_average_revenue = chipo[chipo['item_name'] == order]['revenue'].mean() #Calculates the average revenue per item.
    data.append({'item_name': order, 'average_revenue': order_average_revenue}) #Appends the results to a list, which is then converted into a DataFrame.

df = pd.DataFrame(data)
df

                                item_name  average_revenue
0            Chips and Fresh Tomato Salsa         9.399636
1                                    Izze         3.390000
2                        Nantucket Nectar         4.143333
3   Chips and Tomatillo-Green Chili Salsa         2.852581
4                            Chicken Bowl        11.080758
5                           Side of Chips         2.878020
6                           Steak Burrito        11.511223
7                        Steak Soft Tacos        10.082727
8                     Chips and Guacamole         5.168309
9                    Chicken Crispy Tacos        11.151277
10                     Chicken Soft Tacos        10.426174
11                        Chicken Burrito        11.549837
12                            Canned Soda         1.844615
13                       Barbacoa Burrito         9.832418
14                       Carnitas Burrito        10.446271
15                          Carnitas Bowl        12.216324
16                          Bottled Water         4.007284
17  Chips and Tomatillo Green Chili Salsa         3.361628
18                          Barbacoa Bowl        10.187273
19                                  Chips         2.750427
20                     Chicken Salad Bowl        13.693182
21                             Steak Bowl        11.752654
22                    Barbacoa Soft Tacos        10.018400
23                         Veggie Burrito        10.550211
24                            Veggie Bowl        10.611176
25                     Steak Crispy Tacos        10.723429
26    Chips and Tomatillo Red Chili Salsa         3.318750
27                  Barbacoa Crispy Tacos        12.610000
28                      Veggie Salad Bowl        10.138889
29     Chips and Roasted Chili-Corn Salsa         2.390000
30     Chips and Roasted Chili Corn Salsa         3.352273
31                    Carnitas Soft Tacos         9.398500
32                          Chicken Salad         9.010000
33                      Canned Soft Drink         2.005814
34                       Steak Salad Bowl        13.487931
35                      6 Pack Soft Drink         6.850556
36    Chips and Tomatillo-Red Chili Salsa         4.660500
37                                   Bowl        37.000000
38                                Burrito         7.400000
39                           Crispy Tacos         7.400000
40                  Carnitas Crispy Tacos        13.705714
41                            Steak Salad         8.915000
42      Chips and Mild Fresh Tomato Salsa         3.000000
43                      Veggie Soft Tacos        12.991429
44                    Carnitas Salad Bowl        11.056667
45                    Barbacoa Salad Bowl        10.640000
46                                  Salad         7.400000
47                    Veggie Crispy Tacos         8.490000
48                           Veggie Salad         8.490000
49                         Carnitas Salad         8.990000

### Step 17. How many different items are sold?

In [20]:
chipo.item_name.value_counts().count() #Counts the number of times each item was ordered; Returns the number of unique items.

50